<h1>Demo#index</h1>
<p>Find me in app/views/demo/index.html.erb</p>

<% 1 + 1 %>
<% target = 'world' %>
<%= "Hello #{target}" %>

<br>

<%= 
    3.times do |n|
       puts n 
    end
%>

<br>

<% 3.times do |n| %>
    <%= n %>
<% end %>

<a href="/demo/hello">Hello Page1</a><br>
<%= link_to 'Hello with parameters', {:action => 'hello', :page => 5, :id => 20} %>

<%= link_to('Roar', '#', :onclick => "jsRoar('JavaScript'); return true; ") %>