<div class="subjects index">
  <h2>Admin Users</h2>

  <%= link_to("<< Back to Menu", access_menu_path) %><br><br>

  <%= image_tag('plus_sign.png', :size => '11x11', :alt => '+')%>
  <%= link_to("Create New Admin", new_admin_user_path, :class => 'action new') %>

  <table class="listing" summary="Subject list">
    <tr class="header">
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    <% @admin_users.each do |admin| %>
    <tr>
      <td><%= admin.first_name %></td>
      <td><%= admin.last_name %></td>
      <td><%= admin.username %></td>
      <td class="center"><%= admin.email %></td>
      <td class="actions">
        <%= link_to("Edit", edit_admin_user_path(admin), :class => 'action edit') %>
        <%= link_to("Delete", delete_admin_user_path(admin), :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
